.i1,.i2{
    border: 0;
    outline: 0;
    border-bottom: 1px solid;
    text-align: center;
}
input:hover{
    background-color:  #aaf07f;
}
button:hover{
    background-color:black ;
    color:magenta;
}
h4,.center{
	text-align: center;
}
fieldset{
	margin: 10px 400px;
	padding: 30px 30px;
}
